* {
    margin: 0;
    padding: 0;
  }
  body {
    background-image: url("../umeed.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #login-form {
    display: flex;
    height: 85vh;
    width: 85vw;
    background-color: black;
    border-radius: 20px;
    opacity: 0.5;
    border: 4px solid white;
  }
  .login-div {
    height: 85vh;
    width: 42.5vw;
    border-radius: 20px;
  }
  #left-login {
    
    height: 80vh;
    position: relative;
    top: 2.5vh;
    border-right: 4px solid white;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    opacity: 1;
  }
  .photo{
    height: 275px;
    position: relative;
    margin-top: 28vh;
    margin-left: 14vw;
  }
  #sign-up {
    color: white;
    position: absolute;
    left: 280px;
    top: 75px;
    font-size: 40px;
    border-bottom: 2px solid white;
  }
  #signup-para {
    color: white;
    position: absolute;
    top: 210px;
    text-align: center;
    font-size: 21px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    position: relative;
    top: 45px;
    width: 30vw;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 95px;
    padding: 8px;
    padding-left: 15px;
  }
  label {
      color: white;
      position: relative;
      top: 70px;
      left: 95px;
      font-size: 17px;
  }
  #signup-btn{
      color: white;
  text-decoration: none;
  font-size: 25px;
  position: absolute;
  top: 80vh;
  left: 68vw;
  border: 1px solid white;
  padding: 7px 40px;
  border-radius: 10px;
  }
  
  #signup-btn:hover{
      background-color: gray;
      color: black;
  }
  
  
  /* -----------------responsiveness start-----------------------  */ 
  @media screen and (max-width: 480px) {
    body {
      background-color: lightgreen;
    }
  } 